/.diagnose[
  ng-controller='Diagnose' 
  ng-include="'#{asset_path('orders/diagnose.html.slim')}'"   
/]
/*ng-controller='Diagnose' */

.animate-zoom-out[ui-view]

/.photos[
  ng-include="'#{asset_path('orders/photos.html.slim')}'"   
/]
